[submodule "elastdocker"]
	path = elastdocker
	url = https://github.com/sherifabdlnaby/elastdocker.git
[submodule "M-NER"]
	path = M-NER
	url = https://github.com/DinoHub/M-NER.git
[submodule "llm-EL"]
	path = llm-EL
	url = https://github.com/DinoHub/llm-EL.git
